.header {
    background-color: darkblue;
}

.header-container {
    padding: 1rem;
    display: flex;
}

.logo {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.nav {
    display: flex;
    padding-left: 2rem;
}

.nav-item {
    display: flex;
    align-items: flex-end;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}